
.node, .node_center, .node1, .node2, .node3, .node4, .node5, .node6, .node7,.node8 {
  stroke: #000;
  stroke-width: 1px;
    cursor: move;
}
.outernode, .outernode_center, .outernode1, .outernode2, .outernode3, .outernode4, .outernode5, .outernode6, .outernode7, .outernode8 {
    
    stroke-width: 1.5px;
      cursor: move;
  }

.link, .link_center, .link1, .link2, .link3, .link4, .link5,
.link6, .link7,.link8 {
  stroke: #999;
  stroke-width: 0.45px;
  stroke-opacity: 1;
}
.outerlink, .outerlink_center, .outerlink1, .outerlink2, .outerlink3, .outerlink4, .outerlink5, .outerlink6, .outerlink7, .outerlink8 {
    stroke: #999;
    stroke-width: 0.45px;
    stroke-opacity: 1;
  } 
.label,.label0,.label1,.label2,.label3,.label4,.label5,.label6,.label7,.label8 {
    font-family: Verdana;
    font-size: 7px;
    text-anchor: middle;
    cursor: move;
}

.wrappingNodeLabel,.wrappingNodeLabel0,.wrappingNodeLabel1,.wrappingNodeLabel2,.wrappingNodeLabel3,.wrappingNodeLabel4,.wrappingNodeLabel5,.wrappingNodeLabel6,.wrappingNodeLabel7,.wrappingNodeLabel8 {
    fill: black;
    font-family: Verdana;
    font-size: 12px;
    text-anchor: middle;
    cursor: move;
    font-weight: 535;
}

.twoEdgeWrappingLink, .twoEdgeWrappingLink_center, .twoEdgeWrappingLink1, .twoEdgeWrappingLink2, .twoEdgeWrappingLink3, .twoEdgeWrappingLink4, .twoEdgeWrappingLink5,
.twoEdgeWrappingLink6, .twoEdgeWrappingLink7, .twoEdgeWrappingLink8 {
  stroke: #999;
  stroke-width: 0.45px;
  stroke-opacity: 1;
}

.threeEdgeWrappingLink, .threeEdgeWrappingLink_center, .threeEdgeWrappingLink1, .threeEdgeWrappingLink2, .threeEdgeWrappingLink3, .threeEdgeWrappingLink4, .threeEdgeWrappingLink5,
.threeEdgeWrappingLink6, .threeEdgeWrappingLink7, .threeEdgeWrappingLink8 {
  stroke: #999;
  stroke-width: 0.45px;
  stroke-opacity: 1;
}

.draggableGroup {
  cursor: move;
  transition: stroke-width 0.1s ease-out,
      fill 0.1s ease-out,
      stroke 0.1s ease-out;

  stroke: white;
  stroke-width: 0.25;
}
.w-100 {
  width: 150%;
}
.node_pin, .node_pin0, .node_pin1, .node_pin2, .node_pin3, .node_pin4, .node_pin5, .node_pin6, .node_pin7, .node_pin8 {
  fill: black;
  stroke: white"
  
}
.intersections {
stroke: #fff;
}
.node_unpin, .node_unpin0, .node_unpin1, .node_unpin2, .node_unpin3, .node_unpin4, .node_unpin5, .node_unpin6, .node_unpin7, node_unpin8 {
  fill: white;
  stroke: white"
}

